@font-face {
    font-family: shabnam;
    src: url(../fonts/shabnam-font-v2.4.0/Shabnam.woff);
}

body {
    font-family: shabnam;
}

form {
    text-align: -webkit-center;
}
p{
    display: inline;
}
/***************************************************************************************************/
/***************************************************header******************************************/
/***************************************************************************************************/

.header {
    text-align: -webkit-right;
    background-image: url("../img/geometry2.png");
    height: 13%;
    width: 100%;
    float: right;
    color: #3ad2cb;
    padding-right: 40px;
    direction: rtl;
    margin-top: 40px;
    padding-top: 25px;
    margin-bottom: 20px`;
}

/***************************************************************************************************/
/***************************************************button******************************************/
/***************************************************************************************************/

.button {
    font-family: shabnam;
    font-size: 10px;
    width: 25%;
    background-color: #3ad2cb;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 1px 30px 0 black;
    padding: 4px;
    display: block;
    margin-top: 10px;
}

.button:hover {
    box-shadow: 0 10px 40px 0 black;
    transition: 0.5s;

}

.button:active {
    transition: 0.5s;
    box-shadow: 0 0 40px 0 black;
}

/***************************************************************************************************/
/********************************************text input*********************************************/
/***************************************************************************************************/

.textInput {
    width: 25%;
    border-color: #a9afa9;
    border-width: 0.25px;
    font-family: shabnam;
    border-radius: 5px;
    outline: none;
    direction: rtl;
    padding: 4px;
}

/***************************************************************************************************/
/********************************************place holder*******************************************/
/***************************************************************************************************/
::placeholder {
    color: #DCDCDC;
    opacity: 1; /* Firefox */
}

/***************************************************************************************************/
/********************************************footer*************************************************/
/***************************************************************************************************/
footer {
    width: 100%;
    height: 45px;
    background-color: #185955;
    color: #DCDCDC;
    font-size: 10px;
    display: block;
    margin-top: 10px;
    text-align: -webkit-right;
    position: absolute;
    bottom: 0;
}

footer div {
    padding-top: 10px;
}

footer div img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.left {
    float: left;
    text-align: right;
    margin: 2px 50px;
    display: inline;
    direction: rtl;
}

.right {
    float: right;
    text-align: right;
    margin: 10px 50px;
    display: inline;
    direction: rtl;
}



/***************************************************************************************************/
/********************************************nav bar************************************************/
/***************************************************************************************************/
nav {
    color: #3ad2cb;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
}

.logo{
    float: right;
    height: 20px;
    width: 20px;
}

h5{
    font-size: 15px;
    margin-right: 15px;
    display: inline-block;
}
section{
    margin: 0;
}

.personalInfo{
    color: #52489c;
    margin-top: 10px;
    width: 210px;
    margin-left: 0;
}
/********************************************************/
/*********************drop down**************************/
/********************************************************/
.dropdown {
    font-family: shabnam;

    position: relative;
    display: inline-block;
}

.dropdown-content {
    opacity: 0;
    height: 110px;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: -50px;
    border-radius: 0 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.dropdown:hover .dropdown-content {
    opacity: 1;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.credit{
    font-size: 12px;
    margin: 20px 0;
    color: #868c8c;
}

.nameDecoration{
    color: #545252;
    margin-right: 5px;
    letter-spacing: 0.75px;
    font-size: 14px;
}

.increaseButton{
    position: absolute;
    bottom: 5px;
    width: 80%;
    margin: 5px;
    height: 33px;
}
